<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <link rel="stylesheet"  type="text/css" href="/static/home.css">
    </head>
    <body>
        <h1>Book a space</h1>
        <p>Book a beautiful space with MakersBNB for your ideal getaway! Look below for some inspiration:</p>
        </form>

        <div class="auth-buttons">
            <form action="/login" method="get">
                <button type="submit">Login</button>
            </form>
            <form action="/signup" method="get">
                <button type="submit">Signup</button>
            </form>
        </div>
    </body>
</html>